<div *ngIf="!displayCharacters" class="loader">
  <img src="../../assets/ajax-loader.gif" alt="loading...">
</div>
<div class="row" *ngIf="displayCharacters">
  <div class="col" *ngFor="let character of charactersApiResp">
    <div class="card c-characters" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ character.gender }}</h6>
        <p class="card-text">To see more details about this character click on below button.</p>
        <button class="btn btn-info" (click)="viewCharacter(character.url, character.name)">View Details</button>
      </div>
    </div>
  </div>
</div>
