<div *ngIf="!displayDetails" class="details-loader">
  <img src="../../assets/ajax-loader.gif" alt="loading...">
</div>
<div class="mt-5" *ngIf="displayDetails">
  <button class="btn btn-info btn-lg px-3" routerLink="/">
    <div style="display: inline-block;padding-right: 15%;">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    </div>Back
  </button>
  <div class="card m-5">
    <div class="card-body">
      <strong>Character API is not returning much details as of now, few available things are:</strong>
      <p>The character
        <ng-container *ngIf="characterDetails.name !== ''">
          {{ characterDetails.name }}
        </ng-container>
        is {{characterDetails.gender}}
      </p>
      <p>Also known by the alias {{characterDetails.aliases[0]}}</p>
    </div>
  </div>
</div>
