<div class="mt-5">
  <button class="btn btn-primary btn-lg" routerLink="/">Back</button>
  <div class="card m-5">
    <div class="card-body">
      The book {{bookDetails.name }} is written by:
        <p *ngFor="let author of authors">{{ author }}</p>
      <p>And was published in the year {{bookDetails.released | date: 'yyyy'}} by {{ bookDetails.publisher }} publisher in {{ bookDetails.country }}.
         This book has total {{bookDetails.numberOfPages}} pages.
      </p>
    </div>
  </div>
</div>
